alembic==1.7.6
anyio==3.5.0
ariadne==0.14.1
asgiref==3.5.0
click==8.0.4
Flask==2.0.3
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
graphql-core==3.1.7
greenlet==1.1.2
h11==0.13.0
idna==3.3
importlib-metadata==4.11.2
importlib-resources==5.4.0
itsdangerous==2.1.0
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.1.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing-extensions==4.1.1
uvicorn==0.17.5
Werkzeug==2.0.3
zipp==3.7.0
